{
  "goeasy": {
    "appkey": "你的GoEasy_AppKey",
    "host": "https://rest-hz.goeasy.io",
    "force_tls": true
  },
  "storage": {
    "provider": "r2"
  },
  "cloudflare_r2": {
    "account_id": "",
    "access_key_id": "",
    "secret_access_key": "",
    "bucket_name": "",
    "public_url": "",
    "max_upload_mb": 8,
    "max_storage_mb": 256,
    "cf_api_token": ""
  },
  "tencent_cos": {
    "secret_id": "",
    "secret_key": "",
    "bucket": "",
    "region": "",
    "public_url": "",
    "max_upload_mb": "",
    "max_storage_mb": ""
  },
  "security": {
    "password": ""
  }
}
